{% extends "base.html" %}

{% block app_content %}

    <h1>Hello, {{ current_user.username }}!</h1>
    <form action="" method="post">
    {% if form %}
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}

    {#  Pagination links  #}
    {#  Adapted from https://getbootstrap.com/docs/3.3/components/#optional-disabled-state  #}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}
